.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #7dc248;
  height: 60px; /* Ajusta la altura del header */
  padding: 20px;
  display: flex;
  justify-content: flex-start; /* Cambia el valor a flex-start para alinear a la izquierda */
  align-items: center;
}

.header-title {
  flex-grow: 1;
  text-align: left;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.App-body {
  display: flex;
  flex: 1; /* Hace que el cuerpo ocupe el espacio restante */
  background-color: #0e5f74;
  color: rgb(129, 194, 111); /* Añade aquí el color del texto */
  font-size: 20px; /* Aumenta el tamaño de la fuente a 20px */
}

.App-left-panel {
  background-color: #f0f0f0;
  flex-basis: 10%; /* Asegura que el panel izquierdo tome el 20% del ancho */
  flex-shrink: 0; /* Evita que el panel izquierdo se encoja por debajo del 20% */
}

.App-main-content {
  flex-grow: 1; /* Toma el resto del espacio */
}

.App-footer {
  background-color: #7dc248;
  height: 60px; /* Ajusta la altura del footer */
}

button {
  margin: 5px;
}